.container-footer {
  max-width: 1200px; /* largura fixa ideal para desktop */
  width: 100%;
  margin: 0 auto;
  background-color: rgba(35, 132, 255, 0.3); /* fundo semi-transparente */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-left: 0;
  padding-right: 0;
}

.container-footer .row {
  width: 100%;
}

.container-footer h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.container-footer p, 
.container-footer div {
  margin: 2px 0;
  font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 767px) {
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-footer h4 {
    font-size: 1.1rem;
  }
  .container-footer div, .container-footer p {
    font-size: 0.85rem;
  }
}


/* === FOOTER === */
#footer-placeholder {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: #ddd;   /* cor de fundo */
  text-align: center;
  padding: 20px 10px;       /* espaçamento interno */
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1); /* leve sombra no topo */
  position: relative;       /* fixa no fluxo da página */
}

#index-section-placeholder {
  flex: 1; /* ocupa o espaço restante */
}