/* === NAVBAR === */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1000;
  opacity: 0.85;
}

.navbar a {
  position: relative;
  padding: 5px 15px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a.active {
  color: #ff6600;
}

.navbar a.active::after {
  content: "";
  position: absolute;
  bottom: -2px; /* linha laranja abaixo do link */
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ff6600;
  border-radius: 2px;
  transition: all 0.3s ease;
}




@media (max-width: 767px) {

  /* O wrapper é quem precisa rolar horizontalmente */
  .navbar-wrapper {
    position: relative;
    overflow-x: auto;   /* scroll aqui */
    overflow-y: hidden;
    white-space: nowrap; /* impede quebra */
    width: 100%;
  }

  /* Esconder scroll */
  .navbar-wrapper::-webkit-scrollbar {
    display: none;
  }
  .navbar-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* A navbar vira um container flex que pode crescer sem quebrar */
 .navbar {
    flex-wrap: nowrap !important; /* prevents rows */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: flex-start !important;
    
}
  

  /* Os links nunca quebram */
  .navbar a {
    flex: 0 0 auto;
    white-space: nowrap;
  }

  /* sombras (fade) */
  .shadow-left,
  .shadow-right {
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
    pointer-events: none;
    z-index: 1001;
  }

  .shadow-left {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    display: none;
  }

  .shadow-right {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
  }
}


