.menu-item {
  display: flex;
  align-items: flex-start; /* align text and image at top */
  border-top:1px dashed #e0e0e0
}

.menu-item .flex-grow-1 {
  flex: 1; /* text takes remaining space */
  min-width: 0; /* allow text to shrink */
}

.menu-item .col-auto {
  flex: 0 0 100px; /* image fixed width */
  margin-left: 1rem; /* gap between text and image */
}

.title-section{
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    
}
.text-section{
    font-size: 20px;
    font-weight: 700;
}

.item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    position: relative;
    word-break: break-word; /*partir o texto para outra linha*/
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    text-transform: math-auto;
}

.item-title {
   font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    transition: color .225s;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    line-height: 20px;
}

.item-price {
    color: #ff6600;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 24px;
    row-gap: 4px;
    column-gap: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.item-img {
  height: 120px;     /* ocupa toda a altura da coluna */
  object-fit: cover; /* cobre o container sem deformar */

}

.status-badge{
    display: inline-block;
    background-color: #FF9900;
    color: #fff;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.spin-y {
  animation: rotateYLoop 10s linear infinite;
  transform-style: preserve-3d; 
}

@keyframes rotateYLoop {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}